<p style="color: green"><%= notice %></p>

<div id="tracks" style="padding:50px">
  <% @tracks.each do |track| %>
    <%= render track %>
    <p>
      <%= link_to "Show this track", track, class: "button is-dark  button is-small"%>
    </p>
    <br>
    <div style="height: 2px; background-color: #CECECE"></div>
  <% end %>
</div>
 
